html,
body{
    margin:0;
	padding:0;
    height: 100%;
}
body{
    font-family: sans-serif;
    margin-right:15%;
    margin-left: 15%;
    border:2px double rgb(109, 113, 131);
    box-shadow: 10px 7px 5px rgba(105, 110, 133, 0.5);
    margin-top: 1%;
    height: 90%;
    position: relative;

}

.header{
    background-color: rgb(1, 189, 247);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 8px;
}

.general-info {
    margin-left: 20px;

}

.header-picture{
    width: 11%;
    height: 11%;
    border-radius: 50%;
    margin-left: 20px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 15px;
    width: 45%;
}

.description span{
    color: rgb(6, 150, 247);
}

.chart-image{
    width: 40%;
    height: 40%;
    margin-right: 50px;
    margin-bottom: 30px;
    
}

.telegram{
    width: 10%;
    height: 10%;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  
}

.linkedin{
    width: 10%;
    height: 10%;
    margin-right: 15px;
    margin-bottom: 20px;
}

.github{
    width: 10%;
    height: 10%;
    margin-bottom: 20px;
}

ul{
    list-style-type: ' ★ ';
}

.footer{
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.footer input{
    width: 80px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 5px;
    font-weight: 700;
    background-color: rgb(4, 155, 201);   

}