<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="../style/style.css" />
</head>

<body>
    <header class="header">
        {% block header %}
        <div class="general-info">
            <h1>Gabriela Trybuszek</h1>
            <p> Financial Analysis and Reporting Specialist</p>
        </div>
        <img src="../pictures/profile_picture.png" alt="profile picture" class="header-picture">
        {% endblock %}
    </header>
    <div class="card">
        {% block content %}
        <img src="../pictures/analyses and charts.png" alt="analyses and charts" class="chart-image">

        <div class="description">
            {% block description %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</body>

</html>